### Tên : Huỳnh Ngọc Công Danh
### MSSV : 19521322

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/Data.csv')
df.head(1)

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2

[1 rows x 11 columns]

In [ ]:
df = df.drop('Sample code number',axis=1)
df.head(1)

   Clump Thickness  Uniformity of Cell Size  ...  Mitoses  Class
0                5                        1  ...        1      2

[1 rows x 10 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
s_scaler = StandardScaler()
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import KFold 
from sklearn.metrics import accuracy_score
acc_score = []
k = 5
kf = KFold(n_splits=k,shuffle=True)
def Score(model,X,y):
  for train_index , test_index in kf.split(X):
    X_train , X_test = X.iloc[train_index,:],X.iloc[test_index,:]
    y_train , y_test = y.iloc[train_index] , y.iloc[test_index]
    model.fit(X_train,y_train)
    pred_values = model.predict(X_test)
    acc = accuracy_score(pred_values , y_test)
    acc_score.append(acc)
  return sum(acc_score)/len(acc_score)

### XGBoost

In [ ]:
from xgboost import XGBClassifier 
model = XGBClassifier() 
score = Score(model,X,y)
print('XGBoost {}'.format(score))

XGBoost 0.9626717475311292