### Tên : Huỳnh Ngọc Công Danh
### MSSV : 19521322

In [94]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
df = pd.read_csv("/content/Social_Network_Ads.csv")
df.head(1)

   Age  EstimatedSalary  Purchased
0   19            19000          0

In [198]:
s_scaler = MinMaxScaler()
df_scaled = pd.DataFrame(s_scaler.fit_transform(df),columns=df.columns)
df_scaled.head(1)

       Age  EstimatedSalary  Purchased
0  0.02381          0.02963        0.0

In [199]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
X = df_scaled.iloc[:,:-1]
y = df_scaled.iloc[:,-1]

In [200]:
from sklearn.model_selection import KFold 
from sklearn.metrics import accuracy_score
acc_score = []
k = 5
kf = KFold(n_splits=k,shuffle=True)
def Score(model,X,y):
  for train_index , test_index in kf.split(X):
    X_train , X_test = X.iloc[train_index,:],X.iloc[test_index,:]
    y_train , y_test = y.iloc[train_index] , y.iloc[test_index]
    model.fit(X_train,y_train)
    pred_values = model.predict(X_test)
    acc = accuracy_score(pred_values , y_test)
    acc_score.append(acc)
  return sum(acc_score)/len(acc_score)

In [201]:

# Logistic
from sklearn.linear_model import LogisticRegression
model_logic = LogisticRegression()
# SVM
from sklearn import svm
model_svm = svm.SVC(kernel='linear')
# Decision Tree
from sklearn import tree
model_tree  = tree.DecisionTreeClassifier()
# KNN
from sklearn.neighbors import KNeighborsClassifier
model_neigh = KNeighborsClassifier(n_neighbors=3)
# Naive
from sklearn.naive_bayes import GaussianNB
model_naive = GaussianNB()
# Random
from sklearn.ensemble import RandomForestClassifier
model_random = RandomForestClassifier(max_depth=2, random_state=0)

In [202]:
Logis_score = Score(model_logic,X,y)
SVM_score = Score(model_svm,X,y)
Decision_score = Score(model_tree,X,y)
Naive_score = Score(model_naive,X,y)
KNN_score = Score(model_neigh,X,y)
Random_score = Score(model_random,X,y)
result = {}
result["Logistic Regression"] = Logis_score
result["SVM"] = SVM_score
result["Decisio Tree"] = Decision_score
result["Naive Bayes"] = Naive_score
result["KNN"] = KNN_score
result["Random Forest"] = Random_score
df_gird_result = pd.DataFrame.from_dict(result,orient="index",columns=["Score"])
df_gird_result

                        Score
Logistic Regression  0.815000
SVM                  0.818750
Decisio Tree         0.837500
Naive Bayes          0.852500
KNN                  0.861000
Random Forest        0.868333