# Tên : Huỳnh Ngọc Công Danh
# MSSV : 19521322

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
# from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv("Salary_Data.csv")
df.head(1)

   YearsExperience   Salary
0              1.1  39343.0

In [12]:
scale = StandardScaler()
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_scaled = pd.DataFrame(scale.fit_transform(X))
X_scaled.head(1)
y = pd.DataFrame(y)
y.head(1)

    Salary
0  39343.0

In [13]:
from sklearn.model_selection import KFold 
from sklearn.metrics import r2_score

def Score(model,X,y):
  acc_score = [] 
  k = 5
  kf = KFold(n_splits=k,shuffle=True)
  for train_index , test_index in kf.split(X):
    X_train , X_test = X.iloc[train_index,:],X.iloc[test_index,:]
    y_train , y_test = y.iloc[train_index] , y.iloc[test_index]
    model.fit(X_train,y_train.values.ravel())
    pred_values = model.predict(X_test)
    acc = r2_score(pred_values , y_test)
    acc_score.append(acc)
  return sum(acc_score)/len(acc_score)
  # Linear Regression

In [5]:
model_linear = LinearRegression()
score_linear = Score(model_linear,X_scaled,y)
# print("Score {}".format(score_linear))
score = pd.DataFrame([("Linear Regression",score_linear)],columns=["model","score"])
score

               model     score
0  Linear Regression  0.845813

In [14]:

# Logistic
from sklearn.linear_model import LogisticRegression
model_logic = LogisticRegression()
# SVM
from sklearn import svm
model_svm = svm.SVC()
# Decision Tree
from sklearn import tree
model_tree  = tree.DecisionTreeClassifier()
# KNN
from sklearn.neighbors import KNeighborsClassifier
model_neigh = KNeighborsClassifier(n_neighbors=3)
# Naive
from sklearn.naive_bayes import GaussianNB
model_naive = GaussianNB()
# Random
from sklearn.ensemble import RandomForestClassifier
model_random = RandomForestClassifier(max_depth=2, random_state=0)

Logis_score = Score(model_logic,X_scaled,y)
SVM_score = Score(model_svm,X_scaled,y)
Decision_score = Score(model_tree,X_scaled,y)
Naive_score = Score(model_naive,X_scaled,y)
KNN_score = Score(model_neigh,X_scaled,y)
Random_score = Score(model_random,X_scaled,y)
model_score = [
    ("Logis",Logis_score),
    ("SVM",SVM_score),
    ("Decision",Decision_score),
    ("Naive",Naive_score),
    ("KNN",KNN_score),
    ("Random",Random_score)
]
score = pd.DataFrame(model_score,columns=["model","score"])
score

      model     score
0     Logis  0.805982
1       SVM  0.907308
2  Decision  0.783198
3     Naive  0.921746
4       KNN  0.814822
5    Random  0.927465