In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json
df = pd.read_csv("data/test/new_train.csv")
df.head()

ModuleNotFoundError: No module named 'folium'

In [24]:
age = df[(df["age"] == 49) & (df["education"] == "basic.6y")]
# create list index
index = age.index.values.tolist()
index[0]
df[index[0]:index[0]+1]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
623,49,services,married,basic.6y,no,no,yes,cellular,apr,fri,383,1,999,0,nonexistent,no